@import url(normalize.css);  /*Reset CSS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(header.css);
@import url(footer.css);



/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

img{
    width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}

p{
    max-width: 70ch;
    margin-top: 0;
}

ul{
    margin-top: 0;
}

li{
    max-width: 70ch;
}

.container--l {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.photos__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 0.5rem;
}

/* #twoColumn{
    display: grid;
    grid-template-columns: 2fr 1fr;
} */
aside{
    position: sticky;
    top: 20%;
    margin-left: auto;
    width: fit-content;
    background-color: lightgrey;
    height: fit-content;
    padding: 1em;
}
aside ul{
    margin-bottom: 0;
    padding-left: 0.5em;
}
aside ul>*{
    list-style: none;
}