@import url(normalize.css);  /*Reset CSS*/
@import url(header.css);
@import url(footer.css);

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



img{
    width: 100%;
    height: auto;
}

p{
    max-width: 70ch;
}

.container--l {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.photos__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 0.5rem;
}
